<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Refresh" content="5; url={{ destinationURL }}">
        <title>Redirecting</title>
    </head>
    <body class="page redirect">
        <p>In a moment you will be redirected to the destination page. Please wait..</p>
    </body>
</html>
