<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>A fatal error has occurred!</title>
    </head>
    <body class="page exception">
        <h1>A fatal error has occurred!</h1>
        <p>Unfortunately, there was a critical error during the operation. Please try again later.</p>
    </body>
</html>
